/* CSS Document for Screens */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

body {font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color:#555; margin: 0; padding: 0;}

/*#page{max-width:1200px; margin: 0 auto; position: relative;}*/

/* Text */

h1{margin: 0 0 1em 0; font-size 2.8em; font-weight: 700;}
h2{margin: 0 0 .5em 0; font-size 1.6em; font-weight: 700; line-height: 1.1em;}
h3{margin: 0 0 .5em 0; font-size 1.3em; font-weight: 700;}
h4{margin: 0 0 1.5em 0; font-size 1em; font-weight: 700;}

p{margin: 0 0 1em 0;}

a{color: #007eff;}
a:visited{color:#65b1ff;}

#myNavbar a:hover {text-decoration: underline; -moz-text-decoration-color: red; text-decoration-          color: red;}
.navbar{opacity:0.85;filter: alpha(opacity=85);}


/* Right Nav */


.container {
  position: relative;
  overflow: hidden;
  margin: 100px auto;
  width: 800px;
  height: 500px;
  -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -60;
}

.container li img {
  max-width: 100%;
  height:auto;
  position: absolute;
  top: 0;
  left: 800px;
  z-index: -50;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* nav {
  width: 170px;
  height: 500px;
  background: #fff;
}*/

h1.head {
  padding: 20px;
  color: #ccc;
  text-align: right;
  font: 25px Georgia, Times, serif;
}*/

ul.rnav {
  width: 800px;
  height: 500px;
  list-style: none;
}

li.right a {
  z-index: 1;
  display: block;
  padding-left: 20px;
  width: 150px;
  height: 30px;
  background: white;
  color: #444;
  text-decoration: none;
  font: 11px/14px Helvetica, Verdana, sans-serif;
}

li.right:nth-child(1) {
  padding-top: 50px;
}

li.right a:hover {
  background: #eee;
}

li.right a:hover + img {
  left: 0px;
}


/* Section All */

section{padding: 0 30px;}
section::after{content:''; display: block; clear:both;}


/* Main */

section.main{margin-top: 20px; margin-bottom: 30px; padding:0;}
section.main aside{width: 33%; float: left; text-align: center;}
section.main .content{margin: 15px; background: no-repeat center top; background-size: 75px 75px; padding-top:85px;}

section.main aside h3 a {color:#000; text-decoration: none;}
section.main aside h3 a:hover{text-decoration:underline;}

section.main aside .content.trending{background-image:url(picture1.jpg);max-height:100%;max-width:100%;}
section.main aside .content.find-it{background-image:url(picture2.jpg);max-height:100%;max-width:100%;}
section.main aside .content.tools{background-image:url(picture3.jpg);max-height:100%;max-width:100%;}

section.main aside .content.trending2{background-image:url(picture4.jpg);max-height:100%;max-width:100%;}
section.main aside .content.find-it2{background-image:url(picture5.jpg);max-height:100%;max-width:100%;}
section.main aside .content.tools2{background-image:url(picture6.jpg);max-height:100%; max-width:100%;}


/* Footer */

footer{font-size: .8em;margin: 40px; color:#999;}
footer .content{display: inline;}
footer a{margin-left:30px; color:#777;}
footer a::visited{color:#777;}
footer a::hover{color:#000;}


/* Media Queries*/

@media screen and (max-width: 1000px){

h1{font-size: 2.4em;}

/* Header */
/*header div.hero {left:56%;}header 
header div.hero h1 {margin-bottom: 20px;}*/


}



@media screen and (max-width: 825px){

h1{font-size: 2.2em;}

/* Header */
header {height: 300px; /*background-image: url(../images/banner_825.jpg);*/} 
header div.hero {top: 120px; left:48%;}


}



@media screen and (max-width: 760px){

h1{font-size: 1.8em;}
h2{font-size: 1.4em;}
h3{font-size: 1.1em;}

/* Header */
header div.hero{top:140px; left:48%;}

/* Main */
section.main{margin-top: 10px; margin-bottom:10px;}
section.main aside div.content{background-size:55px 55px; padding-top: 60px;}
}


@media screen and (max-width: 625px){

h1 {font-size: 1em;}
h3 {margin-bottom: 0px;}

/* Header */
header{height: 160px; /*background-image: url(../images/banner_625.jpg);*/ background-position: left top;}

header div.hero{width: 300px; top:85px; left: 130px;}
header div.hero h1{margin-bottom: 10px;}

/* Main */
section.main aside{width:100%; float:none; text-align: left;}
section.main aside div.content{margin: 8px 20px 8px 0px;padding: 5px 0px 10px 85px; background-size: 50 px 50px; background-position: 20px 5px;}

/* Footer */
footer div.content{display:block; margin-top:15px;}
footer div.content a {margin: 0 20px 0 0;}

}


@media screen and (max-width: 425px){

/* Header */
/*header{height:110px; background-image:url(../images/banner_425.jpg);}


header div.hero{width: 100%; left: 0px; top:46px; text-align: center;}
header div.hero h1{font-size: 1em; margin-bottom: 10px;}*/

.container{display:none;}
#scroll{display:none;}

/* Footer */
footer::after{content:''; display: block: clear: both;}

footer div.content a{display: inline-block; margin: 0 0 10px 0; float: left: clear: both;}

}
