body {
  padding-top: 70px;
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/reader/bg.png');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
#myNavbar a:hover {
  text-decoration: underline;
  -moz-text-decoration-color: red;
  text-decoration-color: red;
}

.navbar{
  opacity:0.85;
  filter: alpha(opacity=85);
}

@media (min-width: 768px){
  .navbar .navbar-collapse{
  text-align:center;
}
.navbar .navbar-nav{
  display:inline-block;
  float:none;
  vertical-align:top;
}
}

#rightNav ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 200px;
  }
  
#rightNav li a{
  list-style-type:none;
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

#rightNav li a:hover:not(.active){
  background-color: #555;
  color: white;
}

li a.active{
 font-weight:bold;
}

.container h1{
  font-family: "Arial", sans-serif;
 }

.container h3{
   font-family: "Arial", sans-serif;
  }

.container hr{
  color:black;
  width:20%;
  float:left;
}

.row{
  display:inline;
}
#rightNav{
  float:right;
}
