body {
  padding-top: 70px;
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/reader/bg.png');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
#myNavbar a:hover {
  text-decoration: underline;
  -moz-text-decoration-color: red;
  text-decoration-color: red;
}

.navbar{
  opacity:0.85;
  filter: alpha(opacity=85);
}

@media (min-width: 768px){
  .navbar .navbar-collapse{
  text-align:center;
}
.navbar .navbar-nav{
  display:inline-block;
  float:none;
  vertical-align:top;
}
}

#rightNav ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 200px;
  }
  
#rightNav li a{
  list-style-type:none;
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

#rightNav li a:hover:not(.active){
  background-color: #555;
  color: white;
}

li a.active{
 font-weight:bold;
}

section{
  width:450px;
  float:left;
  padding-left:30px;
  padding-top:250px;
}

#main h1{
  font-family: "Arial", sans-serif;
 }

#main h3{
  padding-top: 10px;
   font-family: "Arial", sans-serif;
  }

aside{
  text-align: right;
  padding-top:250px;
  float:right;
  padding-right:30px;
}

.news{
  padding-top: 50px;
  float:bottom;
}

#news{
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
  
  -webkit-column-gap:40px;
  -moz-column-gap:40px;
  column-gap:40px;
  
  -webkit-column-rule: 4px outset #ff00ff;
  -moz-column-rule: 4px outset #ff00ff;
  column-rule: 4px outset #ff00ff;
}
