body {
  padding-top: 70px;
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/reader/bg.png');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
#myNavbar a:hover {
  text-decoration: underline;
  -moz-text-decoration-color: red;
  text-decoration-color: red;
}

.navbar{
  opacity:0.85;
  filter: alpha(opacity=85);
}

@media (min-width: 768px){
  .navbar .navbar-collapse{
  text-align:center;
}
.navbar .navbar-nav{
  display:inline-block;
  float:none;
  vertical-align:top;
}
}

#rightNav ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 200px;
  }
  
#rightNav li a{
  list-style-type:none;
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

#rightNav li a:hover:not(.active){
  background-color: #555;
  color: white;
}

li a.active{
 font-weight:bold;
}

#main{
  width:450px;
  float:left;
  padding-left:30px;
  padding-top:250px;
}

#main h1{
  font-family: "Arial", sans-serif;
 }

#main h3{
  padding-top: 10px;
   font-family: "Arial", sans-serif;
  }

aside{
  text-align: right;
  padding-top:250px;
  float:right;
  padding-right:30px;
}

footer{
  background-color:white;
}
article{
  padding:20px
  float:left;
}

.news{
  padding-top: 50px;
  float:bottom;
}

#news{
  padding:5px;
  width:960px;
  margin:20px auto;
  /*-webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
  
  -webkit-column-gap:40px;
  -moz-column-gap:40px;
  column-gap:40px;
  
  -webkit-column-rule: 4px outset #ff00ff;
  -moz-column-rule: 4px outset #ff00ff;
  column-rule: 4px outset #ff00ff;*/
}
#col1{
  width; 290px;
  float:left;
  padding: 5px 15px;
}
#col2{
  width:294px;
  float:left;
  padding:5px 15px;
  margin:0px 5px 5px 5px;
}
#col3{
  width: 270px;
  padding:5px 15px;
  float:left;
}

@media screen and (max-width:980px){
  #news{
    width:94%;
  }
  #col1{
    width:41%;
    padding:1% 4%;
  }
  #col2{
    width:41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float:right;
  }
  #col3{
    clear:both;
    padding:1% 4%;
    width:auto;
    float:none;
  }
}

@media screen and(max-width:600px){
  #col1{
    width:auto;
    float:none;
  }
  #col2{
    width:auto;
    float:none;
    margin-left: 0px;
  }
  #col3{
    width:auto;
    float:none;
  }
}

#col1, #col2, #col3{
  margin-bottom: 5px;
}

#news, #col1, #col2, #col3{
  border: solid 1px #ccc;
}
/*#video{
  float:bottom;
}*/
